/song-service/.gradle/
/song-service/.idea/
/resource-service/.gradle/
/resource-service/.idea/
/resource-service/persistence/build/
/resource-service/web/build/
/resource-service/service/build/
/song-service/build/
/resource-processor/build/
/resource-processor/.idea/
/resource-processor/.gradle/
/resource-service/resource-service.iml
*/lib/
/.idea/
/spring-cloud-gateway/.gradle/
/spring-cloud-gateway/.idea/
/spring-cloud-gateway/build/
/eureka-service-discovery/.gradle/
/eureka-service-discovery/.idea/
/eureka-service-discovery/build/
/storage-service/.gradle/
/storage-service/.idea/
/storage-service/build/
/spring-authorization-server/.gradle/
/spring-authorization-server/.idea/
/spring-authorization-server/build/
/elasticsearch
