/song-service/.gradle/
/song-service/.idea/
/resource-service/.gradle/
/resource-service/.idea/
/resource-service/persistence/build/
/resource-service/web/build/
/resource-service/service/build/
/song-service/build/
/resource-service/resource-service.iml
